<span aria-label="สอวอคอ">สวค.</span>
<br>
<span>สวค.</span>
<br>
<span aria-label="กอ ออ ชอ">กอช.</span>
<br>
<span>กอช.</span>
<br>
<a class="link" href="https://google.com">https://google.com</a>
<a class="link" href="https://youtube.com">https://youtube.com</a>
<div>
    <!-- <a href="fb://profile/101175736077107">Facebook</a> -->
    <a href="https://www.facebook.com/101175736077107">Facebook</a>
</div>
<div>
    <button (click)="getBrowserInfo()">browser info</button>
</div>
<br>
<div>
    <button (click)="csp()">Content Security Policy</button>
</div>
<br>
<div>
    <button (click)="get()">Get Values</button>
</div>
<br>
<div>
    <button (click)="post()">Post Values</button>
</div>
<router-outlet></router-outlet>